.job-details-container {
    background-color: lightgray;
    height: 100%;
    flex: 7;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}


.job-details-container::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.job-details-container::-moz-scrollbar {
  height: 0;  
  width: 0;
}

.job-details-container::-moz-scrollbar-thumb {
  background-color: #ccc;
}

.job-details-container::-moz-scrollbar-track {
  background-color: #f1f1f1;
}